@model DDD_2024.Models.DinViewModel
@inject IHttpContextAccessor contxt;

@{
    ViewData["Title"] = "Details";
}

<h1>詳細資料</h1>

<div class="accordion" id="accordionFunction">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFunOne" aria-expanded="true" aria-controls="collapseOne">
                功能鍵
            </button>
        </h2>
        <div id="collapseFunOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFunction">
            <div class="accordion-body">
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                    </div>
                </div>
                @if (contxt.HttpContext != null)
                {
                    var empName = contxt.HttpContext.Session.GetString("EmpName");
                    if (!string.IsNullOrEmpty(empName))
                    {
                        <div class="row" style="margin-top: 6px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <label>login User: </label>
                                <input value="@empName" type="text" placeholder="系統使用者" readonly style="border: none;" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div>
    <hr />
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <input asp-for="ProjectID" id="str_doID" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DinDate" class="control-label">建立日期</label>
                <input asp-for="DinDate" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CusName" class="control-label"></label>
                <input asp-for="CusName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EndCus" class="control-label"></label>
                <input asp-for="EndCus" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="IsInte" class="control-label"></label>
                <input asp-for="IsInte" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PartNo" class="control-label"></label>
                <input asp-for="PartNo" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProApp" class="control-label"></label>
                <input asp-for="ProApp" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProModel" class="control-label"></label>
                <input asp-for="ProModel" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EProduceYS" class="control-label"></label>
                <input asp-for="EProduceYS" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ELTR" class="control-label"></label>
                <input value="@Model.ELTR.ToString("N")" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EGP" class="control-label"></label>
                <input value="@((Model.EGP * 100).ToString("0.##") + "%")" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="LTP" class="control-label"></label>
                <input value="@Model.LTP.ToString("N")" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EFirstYQty" class="control-label"></label>
                <input value="@Model.EFirstYQty.ToString("N0")" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UFirstYPrice" class="control-label"></label>
                <input asp-for="UFirstYPrice" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ESecondYQty" class="control-label"></label>
                <input value="@Model.ESecondYQty.ToString("N0")" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="USecondYPrice" class="control-label"></label>
                <input asp-for="USecondYPrice" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EThirdYQty" class="control-label"></label>
                <input value="@Model.EThirdYQty.ToString("N0")" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UThirdYPrice" class="control-label"></label>
                <input asp-for="UThirdYPrice" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PM_EmpName" class="control-label"></label>
                <input asp-for="PM_EmpName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Sales_EmpName" class="control-label"></label>
                <input asp-for="Sales_EmpName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FAE1_EmpName" class="control-label"></label>
                <input asp-for="FAE1_EmpName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FAE2_EmpName" class="control-label"></label>
                <input asp-for="FAE2_EmpName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FAE3_EmpName" class="control-label"></label>
                <input asp-for="FAE3_EmpName" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-3">
            <div class="form-group">
                <a asp-action="Edit" asp-route-projectID="@Model?.ProjectID" class="btn btn-secondary">編輯</a>
                <a asp-action="Index" class="btn btn-secondary">返回清單</a>
            </div>
        </div> 
        <div class="col-md-9">
        </div>
    </div>
</div>

<script>
    var btn_agree = document.getElementById('btn_agree');
    var btn_disagree = document.getElementById('btn_disagree');

    if (btn_agree) {
        btn_agree.addEventListener('click', function () {
            var projectID = document.getElementById("str_ProjectID").value;

            fetch('/Din/ConfirmDin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(projectID)
            })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    }
    if (btn_disagree) {
        document.getElementById('btn_disagree').addEventListener('click', function () {
            var projectID = document.getElementById("str_ProjectID").value;

            fetch('/Din/RejectDin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(projectID)
            })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    }

</script>