@model IEnumerable<DDD_2024.Models.DinViewModel>
@inject IHttpContextAccessor contxt;

@{
    ViewData["Title"] = "Index";
}

<h1>DIN查詢</h1>

<p>
    <a asp-action="Create">新增DIn</a>
</p>

<div class="accordion" id="accordionConditon">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConOne" aria-expanded="true" aria-controls="collapseOne">
                篩選條件
            </button>
        </h2>
        <div id="collapseConOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionConditon">
            <div class="accordion-body">

            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionFunction">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFunOne" aria-expanded="true" aria-controls="collapseOne">
                功能鍵
            </button>
        </h2>
        <div id="collapseFunOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFunction">
            <div class="accordion-body">
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <a asp-action="Upload" class="btn btn-warning">上傳Din</a>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                @if (contxt.HttpContext != null)
                {
                    var empName = contxt.HttpContext.Session.GetString("EmpName");
                    if (!string.IsNullOrEmpty(empName))
                    {
                        <div class="row" style="margin-top: 6px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <label>login User: </label>
                                <input value="@empName" type="text" placeholder="系統使用者" readonly style="border: none;" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="hidden-column">
                @Html.DisplayNameFor(model => model.ProjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProApp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="display: none;">
                @Html.DisplayFor(modelItem => item.ProjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProModel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectID">編輯</a> |
                <a asp-action="Details" asp-route-ProjectID="@item.ProjectID">詳細資料</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
        .hidden-column {
        display: none;
    }
</style>