@model DDD_2024.Models.DDD_Employee

@{
    ViewData["Title"] = "Details";
}

<h1>員工資料</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnDuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RBU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RBU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpID">編輯</a> |
    <a asp-action="Index">返回清單</a>
</div>
