@model IEnumerable<DDD_2024.Models.DDD_Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>員工資料列表</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnDuty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RBU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>功能鍵</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnDuty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RBU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpID" class="btn btn-dark btn-sm">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.EmpID" class="btn btn-dark btn-sm">詳細資料</a> |
            </td>
        </tr>
}
    </tbody>
</table>
