@model IEnumerable<DDD_2024.Models.DoViewModel>
@inject IHttpContextAccessor contxt;
@inject DDD_2024.Interfaces.IDoService DoService;
@inject DDD_2024.Interfaces.IEmployeeService EmployeeService;

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    ViewData["Title"] = "Index";
}

<h1>Do查詢</h1>

<p>
    <a asp-action="Create">新增Do</a>
</p>

<div class="accordion" id="accordionConditon">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConOne" aria-expanded="true" aria-controls="collapseOne">
                篩選條件
            </button>
        </h2>
        <div id="collapseConOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionConditon">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>專案狀態</label>
                        <select id="projectStatus" onchange="onDatabaseChange()" class="form-control" asp-items="@(DoService.GetStatus)"></select>
                    </div>
                    <div class="col-md-6">
                        <label>申請者</label>
                        <select id="applicant" onchange="onDatabaseChange()" class="form-control" asp-items="@(EmployeeService.GetEmployeeNameList)"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionFunction">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFunOne" aria-expanded="true" aria-controls="collapseOne">
                功能鍵
            </button>
        </h2>
        <div id="collapseFunOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFunction">
            <div class="accordion-body">
                <div class="row">
                     <div class="col-md-2">
                        <button id="btn_check_all" class="btn btn-warning">全選</button>
                    </div>
                    <div class="col-md-2">
                        <button id="btn_uncheck_all" class="btn btn-warning">取消全選</button>
                    </div>
                    <div class="col-md-2">
                        <button id="btn_agree" class="btn btn-warning">全部同意</button>
                    </div>
                    <div class="col-md-2">
                        <button id="btn_disagree" class="btn btn-warning">全部不同意</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <a asp-action="Upload" class="btn btn-warning">上傳Do</a>
                    </div>
                    <div class="col-md-2">
                        <a asp-action="DoReport" class="btn btn-warning">Do報表</a>
                    </div>
                </div>
                @if (contxt.HttpContext != null)
                {
                    var empName = contxt.HttpContext.Session.GetString("EmpName");
                    if (!string.IsNullOrEmpty(empName))
                    {
                        <div class="row" style="margin-top: 6px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <label>login User: </label>
                                <input value="@empName" type="text" placeholder="系統使用者" readonly style="border: none;" />
                            </div>
                        </div>                       
                    }
                }
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>勾選</th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vmCreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.DOStatus == "N")
                    {
                        <input type="checkbox" id="chk_@item.DoID" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vmCreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-ProjectID="@item.ProjectID">編輯</a> |
                    <a asp-action="Details" asp-route-ProjectID="@item.ProjectID">詳細資料</a> |
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    // 監聽全部同意按鈕的點擊事件
    document.getElementById('btn_agree').addEventListener('click', function () {
        var doIds = [];

        // 找到所有被勾選的勾選框
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');

        // 將被勾選的 DoID 收集到 doIds 陣列中
        checkboxes.forEach(function (checkbox) {
            doIds.push(checkbox.id.replace('chk_', '')); // 假設 checkbox 的 id 格式為 chk_DoID
        });

        fetch('/Do/ConfirmDOs', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(doIds) // 將 doIds 陣列轉換為 JSON 字串並傳遞給 controller
        })
            .then(response => {
                // 處理回應，可能需要做一些錯誤處理或者確認操作成功
                console.log('Status changed successfully');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    // 監聽全部同意按鈕的點擊事件
    document.getElementById('btn_disagree').addEventListener('click', function () {
        var doIds = [];

        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');

        // 將被勾選的 DoID 收集到 doIds 陣列中
        checkboxes.forEach(function (checkbox) {
            doIds.push(checkbox.id.replace('chk_', '')); // 假設 checkbox 的 id 格式為 chk_DoID
        });

        fetch('/Do/RejectDOs', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(doIds) // 將 doIds 陣列轉換為 JSON 字串並傳遞給 controller
        })
            .then(response => {
                console.log('Status changed successfully');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    document.getElementById("btn_check_all").addEventListener("click", function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = true;
        });
    });

    document.getElementById("btn_uncheck_all").addEventListener("click", function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
        });
    });

    // 處理select元素的更改事件
    function onDatabaseChange() {
        var selectedprojectStatus = document.getElementById("projectStatus").value;
        var selectedapplicant = document.getElementById("applicant").value;

        // 清除当前表格的所有数据
        clearTable();

        fetchData('/Do/IndexFilter', selectedprojectStatus, selectedapplicant);
    }

    // 清除当前表格的所有数据
    function clearTable() {
        // 找到表格
        var table = document.querySelector('table');

        // 找到表格主体
        var tbody = table.querySelector('tbody');

        // 清空表格主体的内容
        tbody.innerHTML = '';
    }

    // 發送 AJAX 請求並更新表格資料
    function fetchData(url, projectStatus, applicant) {
        $.ajax({
            url: url,
            type: 'GET',
            data: { projectStatus: projectStatus, applicant: applicant },
            success: function (data) {
                $('#tableBody').html(data);
            },
            error: function (error) {
                handleAjaxError(error);
            }
        });
    }

    // 處理 AJAX 請求錯誤
    function handleAjaxError(error) {
        console.error('Error fetching data:', error);
    }

</script>