@model IEnumerable<DDD_2024.Models.DoViewModel>
@inject IHttpContextAccessor contxt;
@inject DDD_2024.Interfaces.IDoService DoService;
@inject DDD_2024.Interfaces.IEmployeeService EmployeeService;

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    ViewData["Title"] = "Index";
}

<h1>Do查詢</h1>

<div class="accordion" id="accordionConditon">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConOne" aria-expanded="true" aria-controls="collapseOne">
                篩選條件
            </button>
        </h2>
        <div id="collapseConOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionConditon">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>專案狀態</label>
                        <select id="projectStatus" onchange="onDatabaseChange()" class="form-control" asp-items="@(DoService.GetStatus)"></select>
                    </div>
                    <div class="col-md-6">
                        <label>申請者</label>
                        <select id="applicant" onchange="onDatabaseChange()" class="form-control" asp-items="@(EmployeeService.GetEmployeeNameList)"></select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>月份</label>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202401" id="month1" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month1">2024年1月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202402" id="month2" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month2">2024年2月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202403" id="month3" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month3">2024年3月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202404" id="month4" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month4">2024年4月</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202405" id="month5" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month5">2024年5月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202406" id="month6" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month6">2024年6月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202407" id="month7" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month7">2024年7月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202408" id="month8" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month8">2024年8月</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202409" id="month9" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month9">2024年9月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202410" id="month10" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month10">2024年10月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202411" id="month11" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month11">2024年11月</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="202412" id="month12" onchange="onDatabaseChange()">
                                    <label class="form-check-label" for="month12">2024年12月</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionFunction">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFunOne" aria-expanded="true" aria-controls="collapseOne">
                功能鍵
            </button>
        </h2>
        <div id="collapseFunOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFunction">
            <div class="accordion-body">
                <div class="row mb-3">
                    <div class="col-md-2 mx-1">
                        <button id="btn_check_all" class="btn btn-warning mb-2 mr-2">全選</button>
                        <button id="btn_uncheck_all" class="btn btn-warning mb-2 mr-2">取消全選</button>
                    </div>
                    <div class="col-md-3 mx-1">
                        <a asp-action="Create" class="btn btn-secondary mr-2">新增Do</a>
                        <a asp-action="Upload" class="btn btn-secondary mr-2">上傳Do</a>
                        <a asp-action="DoReport" class="btn btn-secondary mr-2">Do報表</a>
                    </div>
                </div>
                @if (contxt.HttpContext != null)
                {
                    var empName = contxt.HttpContext.Session.GetString("EmpName");
                    if (!string.IsNullOrEmpty(empName))
                    {
                        <div class="row" style="margin-top: 6px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <label>login User: </label>
                                <input value="@empName" type="text" placeholder="系統使用者" readonly style="border: none;" />
                            </div>
                        </div>                       
                    }
                }
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>勾選</th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vmCreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.DOStatus == "N")
                    {
                        <input type="checkbox" id="chk_@item.DoID" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vmCreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-ProjectID="@item.ProjectID">編輯</a> |
                    <a asp-action="Details" asp-route-ProjectID="@item.ProjectID">詳細資料</a> |
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    document.getElementById("btn_check_all").addEventListener("click", function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = true;
        });
    });

    document.getElementById("btn_uncheck_all").addEventListener("click", function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
        });
    });

    // 處理select元素的更改事件
    function onDatabaseChange() {
        var selectedprojectStatus = document.getElementById("projectStatus").value;
        var selectedapplicant = document.getElementById("applicant").value;
        var selectedMonths = [];

        $('input[type="checkbox"]:checked').each(function () {
            selectedMonths.push($(this).val());
        });

        // 清除当前表格的所有数据
        clearTable();

        // 發送 AJAX 請求並更新表格資料
        fetchData('/Do/IndexFilter', selectedprojectStatus, selectedapplicant, selectedMonths);
    }

    // 清除当前表格的所有数据
    function clearTable() {
        // 找到表格
        var table = document.querySelector('table');

        // 找到表格主體
        var tbody = table.querySelector('tbody');

        // 清空表格主体的内容
        tbody.innerHTML = '';
    }

    // 發送 AJAX 請求並更新表格資料
    function fetchData(url, projectStatus, applicant, months) {
        $.ajax({
            url: url,
            type: 'GET',
            traditional: true, // 這行確保數組正確傳遞
            data: { projectStatus: projectStatus, applicant: applicant, months: months },
            success: function (data) {
                $('#tableBody').html(data);
            },
            error: function (error) {
                handleAjaxError(error);
            }
        });
    }

    // 處理 AJAX 請求錯誤
    function handleAjaxError(error) { 
        console.error('Error fetching data:', error);
    }

    // 當文檔準備好後綁定事件
    $(document).ready(function () {
        $('#projectStatus').change(onDatabaseChange);
        $('#applicant').change(onDatabaseChange);
        $('input[type="checkbox"]').change(onDatabaseChange);

        // 初始加載
        onDatabaseChange();
    });

</script>