@model IEnumerable<DDD_2024.Models.DOASU_Upload_ViewModel>

<form id="dataForm" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">選擇Excel：</label>
        <input type="file" name="Excelfile" class="form-control-file" accept=".xlsx,.xls" />
        <button type="submit" class="btn btn-warning">匯入Do進度</button>
    </div>
</form>

@functions {
    bool AnyFieldIsNull(DOASU_Upload_ViewModel item)
    {
        return string.IsNullOrEmpty(item.ProjectID);
    }
}

@if(Model != null)
{
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProjectID)</th>
                <th>@Html.DisplayNameFor(model => model.DoUDate)</th>
                <th>@Html.DisplayNameFor(model => model.DoUAction)</th>
                <th>@Html.DisplayNameFor(model => model.DoUStatus)</th>
                <th>@Html.DisplayNameFor(model => model.UploadStatus)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var rowClass = item.UploadStatus != "Success" ? "lightgray-background" : "";
                
                <tr class="@rowClass">
                    <td>@Html.DisplayFor(modelItem => item.ProjectID)</td>
                    <td>@Html.DisplayFor(modelItem => item.DoUDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.DoUAction)</td>
                    <td>@Html.DisplayFor(modelItem => item.DoUStatus)</td>
                    <td>@Html.DisplayFor(modelItem => item.UploadStatus)</td>
                </tr>
            }
        </tbody>
    </table>
}


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    .lightgray-background {
        background-color: lightgray;
    }
</style>