@model IEnumerable<DDD_2024.Models.EmployeeViewModel>

<table class="table" id="tableCusVendor">
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.EmpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnDuty_CN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.UpdateDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.employee.EmpID" class="btn btn-dark btn-sm">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.employee.EmpID" class="btn btn-dark btn-sm">詳細資料</a> |
                </td>
            </tr>
        }
    </tbody>
</table>