@model DDD_2024.Models.DutyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>詳細資料</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.duty.Duty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.duty.Duty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsUseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsUseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.duty.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.duty.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.duty.DutyID">編輯</a> |
    <a asp-action="Index">返回清單</a>
</div>
